
<center> <%= text_field_tag(@donation, nil, class: "dollar") %> </center>

<%= form_tag charges_path do %>
<center>
<article>
    <center>
    	<label class="amount">
			<span>
				<h3> Amount: <span id="money">  $0.00 </span> </h3>
				<h1> </h1>
			</span>
    	</label>
      <div id="test_div"></div>
</article>


<% end %>
</center>